.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}
h3{
  margin-top: 30px;
  text-align: center;
}

.navbar .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  gap: 60px
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}
.container-Img{
  margin-bottom: 40px;
}
.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.502);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#login {
  background-color: #A9BCEC;
}

.login-data {
  padding: 10px;
}

#usuario {
  background-color: #B4C4EC;
  margin-left: 15px;
}

#password {
  background-color: #B4C4EC;
  margin-left: 15px;
}

#btn-inicio {
  background-color: #B4C4EC;
  margin-top: 10px;
}
/* Estilos responsivos para diferentes resoluciones */

.search-input-box {
  width: 300px;
  border-radius: 5px;
  position: relative;
  color: white;
  box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input-box input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 40px;
  padding: 0 60px 0 20px;
}

.searchIcon {
  position: absolute;
  top: 8px;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  color:#0d141f;
}

/*Sugerencias*/
.container-suggestions {
  position: absolute;
  background-color: #343a40;
  border-radius: 5px;
  width: 300px;
  max-height: 280px;
  opacity: 0;
  pointer-events: none;
  padding: 0;
  overflow-y: auto;
  border: 1px solid #ddd;
  z-index: 10; 
}

.search-input-box.active .container-suggestions {
  opacity: 1;
  pointer-events: auto;
}

.search-input-box.active .container-suggestions li {
  display: block;
}

.search-input-box.active .container-suggestions li p {
  color: white;
}

.container-suggestions li {
  display: none;
  list-style: none;
  width: 300px;
  padding: 8px 12px;
  border-radius: 5px;
}

.container-suggestions li:hover {
  background-color: #414b57;
}

/* General */
#login {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-data {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-bottom: 15px; 
}

.login-data input {
  width: 100%; 
  padding: 10px;
  margin-top: 5px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

#btn-inicio {
  width: 100%; 
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  #login {
    max-width: 90%; 
    padding: 15px; 
  }
}

  .login-data {
    margin-bottom: 10px; 
  }


/* Tablet (576px a 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #login {
    max-width: 80%;
  }
}

/* Escritorio pequeño (768px a 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #login {
    max-width: 60%;
  }
}

/* Escritorio mediano y grande (más de 992px) */
@media (min-width: 992px) {
  #login {
    max-width: 400px; 
  }
 }

 #emoji-puntuacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.emoji {
  font-size: 30px;
  cursor: pointer;
}

.emoji:hover {
  opacity: 0.5;
}

.emoji:active {
  opacity: 1;
}

.emoji.selected {
  transform: scale(1.2);
}

h2 {
  text-align: center;
  font-size: 30px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px;
}

button {
  background-color: #01213b;
  color: white;
  border-radius: 20px;
  padding: 10px 10px;
  margin-top: 15px;
  width: 100%;
}

.container-ProdsRelated {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.container-ProdsRelated .list-group-item {
  max-width: 20%; /* Limita el ancho máximo para que no crezca demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
}

.container-ProdsRelated .img-thumbnail {
  max-width: 100%; 
  height: auto; 
  border-radius: 5px;
}

.container-ProdsRelated h4 {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

.profile-pic {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px ;
}